
/*Главная страница*/


*{
    margin:0;
    padding: 0;
    font-family: 'Century Gothic',sans-serif;
}
body{
    min-height: 100vh;
}
.wrapper{

}
.container{
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header{
    background-image: url('../img/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 12px;
    padding-bottom: 12px;

}
.icons-content{
    display: flex;
    justify-content: space-between;
}
.img-icon{
    width: 24px;
}
.icons-left{
    display: flex;
}
.icon-buy{
    margin-left: 15px;
}
.logo{
    display: flex;
    justify-content: center;
}
.img-logo{
    width: 320px;
}
.nav{
    display: flex;
    justify-content: space-around;

}
.navigation{
    padding-top: 60px;
    padding-bottom: 60px;
}
.navigation>.container{
    max-width: 840px;
}
.a-nav{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.a-nav:hover{
    color: orange;
    transition: .5s;
}
.banner{
    background-color: #d6d1d1;
}
.banner-img{
    display: flex;
    justify-content: center;
    position: relative;
}
.img-ban{
    min-width: 738px;
}
.img-b{
    width: 35px;
}
.button_banner{
    border: 0;
    background-color: transparent;
    outline:none;
    cursor:pointer;
}
.button_banner-1{
    position: absolute;
    top: 44.5%;
    right: 90%;
}
.button_banner-2{
    position: absolute;
    top: 44.5%;
    left: 90%;
}

.goods{
    padding-top: 50px;
    padding-bottom: 50px;
}
.goods-item-xs{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.goods-item-x{
    flex-basis: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}
.goods-item-x:hover .goods-item-x-img{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border:1px solid #a3a3a3;
}

.goods-item-x-img{
    width: max-content;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    border: 1px solid black;
    padding: 41px;
    margin-bottom: 7px;
}
.img-goods{
    min-width: 150px;
}
.goods-button-all{
    display: flex;
    justify-content: center;
}

.goods-buttton-button{
    border: none;
    background-color: transparent;
    cursor: pointer;

}
.goods-button-img{
    width: 32px;
}

.footer{
    background-image: url('../img/footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 16px;
}
.footer-nav{
    display: flex;
    align-items: center;
}

.footer-nav-social{
    display: flex;
    justify-content: space-between;
    margin-bottom: 27px;
}
.footer-social{
    display: flex;
    align-items: center;
}
.footer-span{
    color: white;
}
.footer-nav-a{
    color: white;
    text-decoration: none;
    margin-right: 45px;
}
.footer-nav-a:hover{
    color: #ffc700;
    transition: .5s;
}
.footer-social-img{
    width: 24px;
}
.footer-social-a:last-child{
    margin-left: 10px;
}
.footer-copyright{
    color: white;
    text-align: center;
}
.footer-icon{
    filter: invert(100%);
    margin-right:8px;

}
.map-a{
    color: white;
}
.footer-span:hover .map-a{
    color: #ffc700;
    transition: .5s;
}



/*Страница с товаром*/

.main-good{
    padding-top: 87px;
    padding-bottom: 21px;
    border-top: 1px solid #dcdcdc;
    min-height: 47vh;
}
.main-good > .container{
    width: 840px;
}
.main-good-content{
    display: flex;
    align-items: center;
}
.main-good-photo-block{
    width: 50%;
    display: flex;
    justify-content: center;
}

.main-good-all{
    width: 50%;
}
.main-good-all-name{
    margin-bottom: 20px;
    font-size: 22px;
}
.main-good-all-price{
    display: flex;
    justify-content: space-between;
    padding-right: 45px;
    margin-bottom: 20px;
}
.main-good-all-buy_field{
    display: flex;
    justify-content: space-between;
    padding-right: 43px;
}
.main-good-all-buy_field-group{
    display: flex;
    margin-bottom: 20px;
}
.main-good-all-buy_field-group-basket {
    margin-left: 7px;
}
.main-good-all-buy_field-group-basket-button{
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    padding: 8px;
    width: 170px;

}
.main-good-all-buy_field-group-favorites-img{
    width: 24px;
    filter: invert(100%);

}
.main-good-all-buy_field-group-favorites-button{
    cursor: pointer;
    background: transparent;
    border: transparent;
}
