RewriteEngine On
RewriteRule ^404/? 404.php [L]
RewriteRule ^good/([0-9]+)/? good.php?id=$1 [L]
#RewriteRule ^([a-z]+)$ /test.php?article=$1 [L]
#RewriteRule ^([a-z]+)/([0-9]+)$ /test.php?article=$1&id_cat=$2 [L]

ErrorDocument 404 http://magaz-git/404