RewriteEngine On
RewriteRule ^404/? 404.php [L]
RewriteRule ^good/([0-9]+)$ good.php?id=$1 [L]
RewriteRule ^(brace)$ section.php?article=$1 [L]
RewriteRule ^(passport-covers)$ section.php?article=$1 [L]
RewriteRule ^(pendants)$ section.php?article=$1 [L]
RewriteRule ^(badges)$ category.php?article=$1 [L]
RewriteRule ^(badges-category)/([0-9]+)? section.php?article=$1&id=$2 [L]
RewriteRule ^favorites$ favorites.php [L]
RewriteRule ^basket$ basket.php [L]
RewriteRule ^conditions$ conditions.php [L]
RewriteRule ^about$ about.php [L]
RewriteRule ^article-brace$ article-brace.php [L]
RewriteRule ^article-znacok$ article-znacok.php [L]
RewriteRule ^account$ account.php [L]
RewriteRule ^sign-in$ sign-in.php [L]
RewriteRule ^sign-up$ sign-up.php [L]
RewriteRule ^user$ user.php [L]
RewriteRule ^user/order/([0-9]+)$ user.php?orderId=$1 [L]
ErrorDocument 404 http://magaz/404