<div class="about">
    <div class="container">
        <div class="about-content">
            <div class="about-title">О нас</div>
            <!-- /.about-title -->
            <div class="about-photo">
                <img src="../assets/img/annaandvasya.jpg" alt="" class="about-photo-img">
            </div>
            <!-- /.about-photo -->
            <div class="about-text">
                <p>Добро пожаловать в наш уютный магазин Pattern, где каждый сможет найти что-то по своей душе.
                    Искренне ваши - Анна и Василий.</p>
            </div>
            <!-- /.about-text -->
            <div class="about-photo borders">
                <img src="../assets/img/boys.jpg" alt="" class="about-photo-img boys-photo">
            </div>
            <!-- /.about-photo -->
            <div class="about-text">
                <p>Знакомьтесь — это те самые "гномы", которые делают вам значки ☺
                   <br> Ребята мы уже пожилые и со стажем, в сумме нам 79 лет! <br>Слева направо — Василий, Сергей и Слава. Теперь вы знаете с кем общаетесь, кто режет и крутит вам значки, кто клеит весёлые стикеры на конверты и подписывает мимими-шные открытки ♥
                    <br> <span>Рады знакомству ☻ </span></p>
            </div>
            <!-- /.about-text -->

        </div>
        <!-- /.about-content -->
    </div>
    <!-- /.container -->
</div>
<!-- /.about -->