<div class="panel">
    <div class="container">
        <button class="user-content-info-row-logout admin-logout">Выход</button>
        <div class="panel-content">
            <div class="panel-begin">
                <div class="panel-button-goods">
                    <button class="panel-button-goods-but panel-button-begin" onclick="goods_otrisovka()">
                        Открыть товары
                    </button>
                    <!-- /.panel-button-goods-but -->
                </div>
                <!-- /.panel-button-goods -->
                <div class="panel-button-orders">
                    <button class="panel-button-orders-but panel-button-begin" onclick="orders_otrisovka();">
                      Открыть заказы
                    </button>
                    <!-- /.panel-button-goods-but -->
                </div>
                <!-- /.panel-button-orders -->
            </div>
            <!-- /.panel-begin -->
        </div>
        <!-- /.panel-content -->
    </div>
    <!-- /.container -->
</div>
<!-- /.panel -->