<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Интернет магазин</title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="logo" onclick="location.href='../index.html'"><img alt="" class="img-logo"
                                                                           src="../img/logom.png"></div>
            <div class="icons-content">
                <a class="footer-social-a icon" href="#"><img alt="" class="img-icon" src="../img/user 4.png"
                                                              style="filter: invert(100%);"></a>
                <!-- /.icon -->
                <div class="icons-left">
                    <a class="footer-social-a icon" href="favorites.html"><img alt="" class="img-icon"
                                                                               src="../img/heart.png"></a>
                    <!-- /.icon -->
                    <a class="footer-social-a icon icon-buy" href="basket.html"><img alt="" class="img-icon"
                                                                                     src="../img/pay.png"></a>
                    <!-- /.icon -->
                </div>
                <!-- /.icons-left -->
            </div>
            <!-- /.icons-content -->

        </div>
        <!-- /.header-content -->
    </div>
    <!-- /.container -->
</header>
<!-- /.header -->
<div class="navigation">
    <div class="container">
        <nav class="nav">
            <a class="a-nav" href="../templates/section.html">Браслеты</a><a class="a-nav"
                                                                             href="../templates/section.html">Подвески</a><a
                class="a-nav" href="../templates/section.html">Кулоны</a><a
                class="a-nav" href="../templates/category.html">Тематические значки</a>
        </nav>
        <!-- /.nav -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navigation -->

<div class="about">
    <div class="container">
        <div class="about-content">
            <div class="about-title">Значки на заказ</div>
            <!-- /.about-title -->
            <div class="about-photo">
                <img alt="" class="about-photo-img" src="../img/na-zakaz.jpg">
            </div>
            <!-- /.about-photo -->
            <div class="about-text">
                <p>У нас в товарах появился [Значок на заказ] – наверное дня не проходит, чтобы не просили «точно такой
                    же, только с перламутровыми пуговицами».</p>
            </div>
            <!-- /.about-text -->
            <div class="about-title borders-top">Первое.</div>

            <!-- /.about-title -->
            <div class="about-text">
                <p> Так уж сложилось, что мы не можем вам помочь с отрисовкой. Если вы хотите значок мордашки вашего
                    любимого питомца, а может быть знакомого человека — увы, это не к нам (( Проще говоря, по фотографии
                    контурный значок вы у нас не сделаете.</p>

                <p>Но как быть, если браслет покупается в подарок или нет уверенности в обхвате? Есть возможность
                    заказать регулируемый по длине шнурок. Это прибавит к стоимости 100р. Одеть его на руку несколько
                    сложнее, чем шнурок под обхват, но и потерять такой браслет надо постараться. </p>
            </div>
            <!-- /.about-text -->
            <div class="about-photo borders">
                <img alt="" class="about-photo-img" src="../img/doggy.jpg">
            </div>
            <!-- /.about-photo -->
            <div class="about-title borders-top">А можно выбрать цвет шнурка?</div>

            <!-- /.about-title -->
            <div class="about-text">
                <p>Можно) На выбор 12 цветов.</p>
            </div>
            <!-- /.about-text -->

            <div class="about-photo borders">
                <img alt="" class="about-photo-img" src="../img/rope.jpg">
            </div>

            <div class="about-title borders-top">Какая застёжка у браслетов?</div>

            <!-- /.about-title -->
            <div class="about-text">
                <p>На всех браслетах мы используем хорошо себя зарекомендовавшую магнитную застёжку с предохранителем.
                    Её легко одеть одной рукой. Сделана из сплава с покрытием «под серебро». Со временем нижняя часть,
                    которая прилегает к руке, вытрется до медного цвета. Но это, словами Елены Малышевой, норма) Многие
                    спрашивают про надёжность застёжки. Отвечаем — надёжность на должном уровне, но это не мешает
                    периодически терять браслеты. Не потому, что застёжка плохая, а потому что просто браслеты относятся
                    к категории самых теряемых аксессуаров. Жиза)</p>
            </div>
            <!-- /.about-text -->

            <div class="about-photo borders">
                <img alt="" class="about-photo-img" src="../img/magnit.jpg">
            </div>
            <div class="about-text">
                <p>Можно ли гравировать с обратной (внутренней) стороны пластины? Да, конечно — это прибавит 100р. к
                    стоимости.</p>
            </div>
            <!-- /.about-text -->

            <div class="about-photo borders">
                <img alt="" class="about-photo-img" src="../img/unset.jpg">
            </div>

            <div class="about-title borders-top">Какое ограничение по символам?</div>

            <!-- /.about-title -->
            <div class="about-text">
                <p>Вы удивитесь, но у нас нет такого понятия. Посмотрите на примеры, выгруженные в товары и по идее,
                    сразу поймёте сколько можно вместить текста. А проще всего присылайте свой текст, а мы по опыту
                    скажем, много это или мало. Зачастую, можно текст сократить или перенести половину на обратную
                    сторону.

                    Можно ли гравировать в цвете и какие рисунки годятся в гравировку? Вот это пожалуй самый тонкий
                    момент. По цвету всё просто — на металле гравировка только чёрная. А по типу рисунков — на словах,
                    годятся только контурные простые эскизы.

                    Вот пример того, что отгравировать не получится. Совсем.</p>
            </div>
            <!-- /.about-text -->

            <div class="about-photo borders">
                <img alt="" class="about-photo-img" src="../img/fox.jpg">
            </div>

            <div class="about-text">
                <p>А вот пример материала, с которым можно работать.</p>
            </div>
            <!-- /.about-text -->

            <div class="about-photo borders">
                <img alt="" class="about-photo-img" src="../img/fox2.jpg">
            </div>

            <div class="about-text">
                <p>Есть ещё один нюанс — детализация рисунка. Важно понимать, что есть технический предел, после
                    которого рисунок превращается в мыло. Пластина для гравировки тоже не резиновая. Рецепт прост —
                    присылайте нам свои идеи и заготовки и мы наставим вас на путь истинный))</p>
            </div>
            <!-- /.about-text -->

            <div class="about-photo borders">
                <img alt="" class="about-photo-img" src="../img/fox3.jpg">
            </div>

            <div class="about-text">
                <p>Чуть не забыли. Стоить немного поговорить о геометрии. Надо понимать, что пластина для гравировки
                    горизонтальная. Это прямоугольник как ни крутите. И раз уж мы взялись за лис, давайте приведём
                    пример, когда эскиз в принципе для гравировки годится, но не подходит по геометрии. Рисунок будет
                    вписан в пластину и будет много пустого места. Это из разряда «ну такооое…»</p>
            </div>
            <!-- /.about-text -->

            <div class="about-photo borders">
                <img alt="" class="about-photo-img" src="../img/fox4.jpg">
            </div>


            <div class="about-text">
                <p>Подытожим? Надеемся всё выше описанное поможет вам в выборе текста и эскиза для гравировки. Но всё
                    же— в любой непонятной ситуации вы всегда можете написать в группу BK, в беде не
                    оставим)

                    <br> <br>
                <div class="team">Ваша команда Pattern ♥</div>
                </p>
            </div>
            <!-- /.about-text -->


        </div>
        <!-- /.about-content -->
    </div>
    <!-- /.container -->
</div>
<!-- /.about -->

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-nav-social">
                <nav class="footer-nav">
                    <a class="footer-nav-a" href="about.html">О Нас</a><a class="footer-nav-a" href="conditions.html">Условия</a><img
                        class="img-icon footer-icon" src="../img/location.png"> <span class="footer-span">  <a
                        class="map-a"
                        href="https://goo.gl/maps/KjJ5rq3xZMPFNN588">Бульвар Энтузиастов, 2А, Тамбов</a></span>
                </nav>
                <!-- /.footer-nav -->
                <div class="footer-social">
                    <a class="footer-social-a" href="https://vk.com/moypattern"><img alt="" class="footer-social-img"
                                                                                     src="../img/вконтакте.png"></a>
                    <a class="footer-social-a" href="https://www.instagram.com/moypattern/?hl=ru"><img
                            alt="" class="footer-social-img" src="../img/инстаграм.png"></a>
                </div>
                <!-- /.footer-social -->
            </div>
            <!-- /.footer-nav-social -->
            <div class="footer-copyright">©2020 K i T</div>
            <!-- /.footer-copyright -->
        </div>
        <!-- /.footer-content -->
    </div>
    <!-- /.container -->
</footer>
<!-- /.footer -->
</body>
</html>