

<div class="about">
    <div class="container">
        <div class="about-content">
            <div class="about-title">Значки на заказ</div>
            <!-- /.about-title -->
            <div class="about-photo">
                <img src="../assets/img/na-zakaz.jpg" alt="" class="about-photo-img">
            </div>
            <!-- /.about-photo -->
            <div class="about-text">
                <p>У нас в товарах появился [Значок на заказ] – наверное дня не проходит, чтобы не просили «точно такой
                    же, только с перламутровыми пуговицами».</p>
            </div>
            <!-- /.about-text -->
            <div class="about-title borders-top">Первое.</div>

            <!-- /.about-title -->
            <div class="about-text">
                <p> Так уж сложилось, что мы не можем вам помочь с отрисовкой. Если вы хотите значок мордашки вашего
                    любимого питомца, а может быть знакомого человека — увы, это не к нам (( Проще говоря, по фотографии
                    контурный значок вы у нас не сделаете.</p>

                <p>Но как быть, если браслет покупается в подарок или нет уверенности в обхвате? Есть возможность
                    заказать регулируемый по длине шнурок. Это прибавит к стоимости 100р. Одеть его на руку несколько
                    сложнее, чем шнурок под обхват, но и потерять такой браслет надо постараться. </p>
            </div>
            <!-- /.about-text -->
            <div class="about-photo borders">
                <img src="../assets/img/doggy.jpg" alt="" class="about-photo-img">
            </div>
            <!-- /.about-photo -->
            <div class="about-title borders-top">Второе.</div>

            <!-- /.about-title -->
            <div class="about-text">
                <p>Значки на заказ делаются по вашей картинке – поэтому заранее позаботьтесь о хорошем качестве
                    изображения. Не стоит присылать заведомо «печальные» картинки и ждать чуда. Чуда не будет.</p>
            </div>
            <!-- /.about-text -->

            <div class="about-photo borders">
                <img src="../assets/img/dikaprio.jpg" alt="" class="about-photo-img" style="filter: blur(3px);">
            </div>

            <div class="about-title borders-top">Третье.</div>

            <!-- /.about-title -->
            <div class="about-text">
                <p>И наверное самое важно. Значки легко можно сделать по картинке, в которой без проблем можно выделить
                    контур. Что это значит? Наверное проще показать.</p>
                <div class="italics"><br> | Вот пример картинки, у которой невозможно выделить чёткий контур для резки.
                </div>
            </div>
            <!-- /.about-text -->

            <div class="about-photo borders">
                <img src="../assets/img/fox5.jpg" alt="" class="about-photo-img">
            </div>
            <div class="about-text">
                <p>
                <div class="italics"> | А вот пример картинки на однородном фоне, где можно создать контур для значка.
                    Фон
                    легко удаляется, остаётся чёткий контур иллюстрации.
                </div>
                </p>
            </div>
            <!-- /.about-text -->

            <div class="about-photo borders">
                <img src="../assets/img/fox6.jpg" alt="" class="about-photo-img">
            </div>

            <div class="about-text">
                <p>Так или иначе, присылайте свои картинки к нам в Cообщения с вопросом о возможности сделать значок по
                    вашему рисунку/картинке. А уже после согласования можно смело оформлять заказ.

                    Ну и по традиции, для тех, кто дочитал до конца – чтобы не прозевать акции и скидки ☻</p>
            </div>
            <!-- /.about-text -->

        </div>
        <!-- /.about-content -->
    </div>
    <!-- /.container -->
</div>
<!-- /.about -->

