<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Интернет магазин</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="logo" onclick="location.href='index.html'"><img src="../assets/img/logom.png" alt=""
                                                                        class="img-logo"></div>
            <div class="icons-content">
                <a href="#" class="footer-social-a icon"><img src="../assets/img/user 4.png" alt="" class="img-icon"
                                                              style="filter: invert(100%);"></a>
                <!-- /.icon -->
                <div class="string">W O R K S H O P</div>
                <div class="icons-left">
                    <a href="favorites.html" class="footer-social-a icon"><img src="../assets/img/heart.png" alt=""
                                                                               class="img-icon"></a>
                    <!-- /.icon -->
                    <a href="basket.html" class="footer-social-a icon icon-buy"><img src="../assets/img/pay.png" alt=""
                                                                                     class="img-icon"></a>
                    <!-- /.icon -->
                </div>
                <!-- /.icons-left -->
            </div>
            <!-- /.icons-content -->

        </div>
        <!-- /.header-content -->
    </div>
    <!-- /.container -->
</header>
<!-- /.header -->
<div class="navigation">
    <div class="container">
        <nav class="nav">
            <a href="../templates/section.html" class="a-nav">Браслеты</a><a href="../templates/section.html"
                                                                             class="a-nav">Подвески</a><a
                href="../templates/section.html" class="a-nav">Кулоны</a><a
                href="../templates/category.html" class="a-nav">Тематические значки</a>
        </nav>
        <!-- /.nav -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navigation -->

<div class="about">
    <div class="container">
        <div class="about-content">
            <div class="about-title">Как заказать браслет со своей гравировкой</div>
            <!-- /.about-title -->
            <div class="about-photo">
                <img src="../assets/img/breathe.jpg" alt="" class="about-photo-img">
            </div>
            <!-- /.about-photo -->
            <div class="about-text">
                <p>Давайте для начала расставим все точки на Ё. У нас нет разницы в стоимости браслетов с вашей
                    гравировкой на заказ или выгруженной в товарах. Суть такая, что у нас нет склада готовой продукции —
                    к примеру, если вы заказываете браслет Сотворение Адама из товаров, мы его будем гравировать заново.
                    Да, ваш макет надо ещё сделать и согласовать, но тем не менее.</p>
            </div>
            <!-- /.about-text -->
            <div class="about-title borders-top">Какая длина шнурка у браслетов?</div>

            <!-- /.about-title -->
            <div class="about-text">
                <p> Все браслеты делаются под обхват запястья и тут главное не накосячить с измерением. Вот для этого
                    хорошая шпаргалка:</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/V3ptpC4jDv0" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                <p>Но как быть, если браслет покупается в подарок или нет уверенности в обхвате? Есть возможность
                    заказать регулируемый по длине шнурок. Это прибавит к стоимости 100р. Одеть его на руку несколько
                    сложнее, чем шнурок под обхват, но и потерять такой браслет надо постараться. </p>
            </div>
            <!-- /.about-text -->
            <div class="about-photo borders">
                <img src="../assets/img/brace.jpg" alt="" class="about-photo-img">
            </div>
            <!-- /.about-photo -->
            <div class="about-title borders-top">А можно выбрать цвет шнурка?</div>

            <!-- /.about-title -->
            <div class="about-text">
                <p>Можно) На выбор 12 цветов.</p>
            </div>
            <!-- /.about-text -->

            <div class="about-photo borders">
                <img src="../assets/img/rope.jpg" alt="" class="about-photo-img">
            </div>

            <div class="about-title borders-top">Какая застёжка у браслетов?</div>

            <!-- /.about-title -->
            <div class="about-text">
                <p>На всех браслетах мы используем хорошо себя зарекомендовавшую магнитную застёжку с предохранителем.
                    Её легко одеть одной рукой. Сделана из сплава с покрытием «под серебро». Со временем нижняя часть,
                    которая прилегает к руке, вытрется до медного цвета. Но это, словами Елены Малышевой, норма) Многие
                    спрашивают про надёжность застёжки. Отвечаем — надёжность на должном уровне, но это не мешает
                    периодически терять браслеты. Не потому, что застёжка плохая, а потому что просто браслеты относятся
                    к категории самых теряемых аксессуаров. Жиза)</p>
            </div>
            <!-- /.about-text -->

            <div class="about-photo borders">
                <img src="../assets/img/magnit.jpg" alt="" class="about-photo-img">
            </div>
            <div class="about-text">
                <p>Можно ли гравировать с обратной (внутренней) стороны пластины? Да, конечно — это прибавит 100р. к
                    стоимости.</p>
            </div>
            <!-- /.about-text -->

            <div class="about-photo borders">
                <img src="../assets/img/unset.jpg" alt="" class="about-photo-img">
            </div>

            <div class="about-title borders-top">Какое ограничение по символам?</div>

            <!-- /.about-title -->
            <div class="about-text">
                <p>Вы удивитесь, но у нас нет такого понятия. Посмотрите на примеры, выгруженные в товары и по идее,
                    сразу поймёте сколько можно вместить текста. А проще всего присылайте свой текст, а мы по опыту
                    скажем, много это или мало. Зачастую, можно текст сократить или перенести половину на обратную
                    сторону.

                    Можно ли гравировать в цвете и какие рисунки годятся в гравировку? Вот это пожалуй самый тонкий
                    момент. По цвету всё просто — на металле гравировка только чёрная. А по типу рисунков — на словах,
                    годятся только контурные простые эскизы.

                    Вот пример того, что отгравировать не получится. Совсем.</p>
            </div>
            <!-- /.about-text -->

            <div class="about-photo borders">
                <img src="../assets/img/fox.jpg" alt="" class="about-photo-img">
            </div>

            <div class="about-text">
                <p>А вот пример материала, с которым можно работать.</p>
            </div>
            <!-- /.about-text -->

            <div class="about-photo borders">
                <img src="../assets/img/fox2.jpg" alt="" class="about-photo-img">
            </div>

            <div class="about-text">
                <p>Есть ещё один нюанс — детализация рисунка. Важно понимать, что есть технический предел, после
                    которого рисунок превращается в мыло. Пластина для гравировки тоже не резиновая. Рецепт прост —
                    присылайте нам свои идеи и заготовки и мы наставим вас на путь истинный))</p>
            </div>
            <!-- /.about-text -->

            <div class="about-photo borders">
                <img src="../assets/img/fox3.jpg" alt="" class="about-photo-img">
            </div>

            <div class="about-text">
                <p>Чуть не забыли. Стоить немного поговорить о геометрии. Надо понимать, что пластина для гравировки
                    горизонтальная. Это прямоугольник как ни крутите. И раз уж мы взялись за лис, давайте приведём
                    пример, когда эскиз в принципе для гравировки годится, но не подходит по геометрии. Рисунок будет
                    вписан в пластину и будет много пустого места. Это из разряда «ну такооое…»</p>
            </div>
            <!-- /.about-text -->

            <div class="about-photo borders">
                <img src="../assets/img/fox4.jpg" alt="" class="about-photo-img">
            </div>


            <div class="about-text">
                <p>Подытожим? Надеемся всё выше описанное поможет вам в выборе текста и эскиза для гравировки. Но всё
                    же— в любой непонятной ситуации вы всегда можете написать в группу BK, в беде не
                    оставим)

                    <br> <br><div class="team">Ваша команда Pattern ♥</div></p>
            </div>
            <!-- /.about-text -->


        </div>
        <!-- /.about-content -->
    </div>
    <!-- /.container -->
</div>
<!-- /.about -->

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-nav-social">
                <nav class="footer-nav">
                    <a href="about.html" class="footer-nav-a">О Нас</a><a href="conditions.html" class="footer-nav-a">Условия</a><img
                        class="img-icon footer-icon" src="../assets/img/location.png"> <span class="footer-span">  <a
                        href="https://goo.gl/maps/KjJ5rq3xZMPFNN588"
                        class="map-a">Бульвар Энтузиастов, 2А, Тамбов</a></span>
                </nav>
                <!-- /.footer-nav -->
                <div class="footer-social">
                    <a href="https://vk.com/moypattern" class="footer-social-a"><img src="../assets/img/вконтакте.png" alt=""
                                                                                     class="footer-social-img"></a>
                    <a href="https://www.instagram.com/moypattern/?hl=ru" class="footer-social-a"><img
                            src="../assets/img/инстаграм.png" alt="" class="footer-social-img"></a>
                </div>
                <!-- /.footer-social -->
            </div>
            <!-- /.footer-nav-social -->
            <div class="footer-copyright">©2020 K i T</div>
            <!-- /.footer-copyright -->
        </div>
        <!-- /.footer-content -->
    </div>
    <!-- /.container -->
</footer>
<!-- /.footer -->
</body>
</html>