<div class="main-category">
    <div class="banner">
        <div class="container">
            <div class="banner-content">
                <div class="banner-img"><img src="../assets/img/pin-logo.jpg" class="img-ban"></div>
            </div>
            <!-- /.banner-content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->
</div>
<!-- /.main-category -->
<div class="goods-category">
    <div class="container">
        <div class="goods-category-content">
            <script>view_category();</script>
        </div>
        <!-- /.goods-content -->
    </div>
    <!-- /.container -->
</div>
<!-- /.goods-category -->