
<div class="main-category">
    <div class="banner">
        <div class="container">
            <div class="banner-content">
                <div class="banner-img"><img src="../assets/img/pin-logo.jpg" class="img-ban"></div>
            </div>
            <!-- /.banner-content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->
</div>
<!-- /.main-category -->
<div class="goods-category">
    <div class="container">
        <div class="goods-category-content">
            <div class="goods-category-x">
                <img src="../assets/img/memes-logo.jpg" alt="" class="goods-category-x-img">
                <!-- /.goods-category-x-img -->
            </div>
            <!-- /.goods-category-x -->
            <div class="goods-category-x">
                <img src="../assets/img/anime-logo.jpg" alt="" class="goods-category-x-img">
                <!-- /.goods-category-x-img -->
            </div>
            <!-- /.goods-category-x -->
            <div class="goods-category-x">
                <img src="../assets/img/sherlok-logo.jpg" alt="" class="goods-category-x-img">
                <!-- /.goods-category-x-img -->
            </div>
            <!-- /.goods-category-x -->
            <div class="goods-category-x">
                <img src="../assets/img/literacy-logo.jpg" alt="" class="goods-category-x-img">
                <!-- /.goods-category-x-img -->
            </div>
            <!-- /.goods-category-x -->
            <div class="goods-category-x">
                <img src="../assets/img/totoro-logo.jpg" alt="" class="goods-category-x-img">
                <!-- /.goods-category-x-img -->
            </div>
            <!-- /.goods-category-x -->
            <div class="goods-category-x">
                <img src="../assets/img/pin-logo.jpg" alt="" class="goods-category-x-img">
                <!-- /.goods-category-x-img -->
            </div>
            <!-- /.goods-category-x -->
        </div>
        <!-- /.goods-content -->
    </div>
    <!-- /.container -->
</div>
<!-- /.goods-category -->
