<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Интернет магазин</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="logo" onclick="location.href='../index.html'"><img src="../img/logom.png" alt="" class="img-logo"></div>
            <div class="icons-content">
                <a href="#" class="footer-social-a icon"><img src="../img/user 4.png" alt="" class="img-icon"
                                                              style="filter: invert(100%);"></a>
                <!-- /.icon -->
                <div class="icons-left">
                    <a href="favorites.html" class="footer-social-a icon"><img src="../img/heart.png" alt="" class="img-icon"></a>
                    <!-- /.icon -->
                    <a href="basket.html" class="footer-social-a icon icon-buy"><img src="../img/pay.png" alt="" class="img-icon"></a>
                    <!-- /.icon -->
                </div>
                <!-- /.icons-left -->
            </div>
            <!-- /.icons-content -->

        </div>
        <!-- /.header-content -->
    </div>
    <!-- /.container -->
</header>
<!-- /.header -->
<div class="navigation">
    <div class="container">
        <nav class="nav">
            <a href="good.html" class="a-nav">Браслеты</a><a href="good.html" class="a-nav">Подвески</a><a href="good.html" class="a-nav">Кулоны</a><a
                href="category.html" class="a-nav">Тематические значки</a>
        </nav>
        <!-- /.nav -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navigation -->
<div class="about">
    <div class="container">
        <div class="about-content">
            <div class="about-title ">Условия</div>
            <!-- /.about-title -->
            <div class="conditions-border"></div>
            <div class="about-text conditions-text">



                <p>Отправили тут меня недавно на один симпозиум в Питер. Хотел было ехать на своей тачке, но мне бывалые ребята подсказали, что будет нехилый фуршет, типа шведского стола и выпивки будет немеряно.Поразмыслив,решил ехать рейсовым автобусом Выборг-Питер.Ехать надо было рано утром,ессно невыспаному, да и к тому же братва,что меня провожала,накануне неплохо потренировала в плане выпивки,ну да не это главное.<br />
                    Сев в автобусе на своё законное место,я мечтал дать храпака часа полтора, да и все пассажиры похоже тоже были не против того же. Ну наконец наш автобус тронулся и мы стали потихоньку дремать.Тут у одного чувака с мордой бандюгана зазвонила мобила,то есть не зазвонила,а заиграла полифония с мелодией "Мурки".Этот бугай с шеей быка демонстративно медленно достаёт свою мобил, даёт всем нам насладиться энтой музыкой, ну и патом чего-то там базарить.Только он закончил свой важный разговор,как раздаётся за его спиной другой звонок с мелодией "Наша служба и опасна и трудна". Все ессно повернули свои ипала на этот звоночек ,а там майор милиции пытается что-то ответить. Все стали ржать.</p>
                <p>Тут подъехали к какой-то остановке и в салон зашли два попа.И надо же было в этот момент,что бы у одного из них тоже запиликала труба,а там мелодия "Боже царя храни"!!! Автобус забился в истерике. Ипалы у попов вытянулись,они стали разглядывать свои рясы,думая,что ржач по их поводу,один даже другому под рясу заглянул,что только добавило нам адреналина.Со смущёнными ипалами,на 100% уверенными,что ржач именно в их адрес,они быстро просочились в салон и стали что-то выяснять друг у друга. Ржач стал потихоньку затихать,но тут проснулся один мудак,видно накануне неплохо подпитав свой организм огненной водой и с виноватой рожей оглядев хохочущий салон скромно спросил: Я чё,пёрнул во сне?</p>
                <p>Стёкла в салоне затряслись с новой силой,водила заорал: Если вы суки не перестанете меня смешить, то всем пиздец-я уже больше не могу вести этот ёбаный автобус,следующий столб будет наш.Угрозы не действовали.Водила остановил автобус и выпрыгнул на обочину,согнулся пополам и стал ржать,распуская сопли и слёзы.Так он ржал минут 10.</p>
                <p>Наконец-то все успокоились,кое-кто всхлипывал и постанывал.Мы поехали к пункту своего назначения.Проехав в почти полной тишине минут пять,вдруг раздаётся голос маленького падонка: "мама,ты чё,со смеху описалась"?</p>
                <p>Автобус с новой силой забился в экстазе.Водила снова остановил свой драндулет и повторил цыганочку с выходом из автобуса.Не ржала только мамаша энтого падонка,смущённо закрывая свою красную рожу сканвордом.</p>
                <p>Худо-бедно,но с опозданием в 2 часа мы добрались до Питера. Из автобуса все выползали на карачках,напоследок услышав от водилы такие слова:</p>
                <p>"первый раз иду получать пиздюлей за опоздание с таким хорошим настроением"</p>








                    </div>
            <!-- /.about-text -->
        </div>
        <!-- /.about-content -->
    </div>
    <!-- /.container -->
</div>
<!-- /.about -->
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-nav-social">
                <nav class="footer-nav">
                    <a href="about.html" class="footer-nav-a">О Нас</a><a href="conditions.html" class="footer-nav-a">Условия</a> <img
                        class="img-icon footer-icon" src="../img/location.png"> <span class="footer-span">  <a
                        href="https://goo.gl/maps/KjJ5rq3xZMPFNN588"
                        class="map-a">Бульвар Энтузиастов, 2А, Тамбов</a></span>
                </nav>
                <!-- /.footer-nav -->
                <div class="footer-social">
                    <a href="https://vk.com/moypattern" class="footer-social-a"><img src="../img/вконтакте.png" alt=""
                                                                                     class="footer-social-img"></a>
                    <a href="https://www.instagram.com/moypattern/?hl=ru" class="footer-social-a"><img
                            src="../img/инстаграм.png" alt="" class="footer-social-img"></a>
                </div>
                <!-- /.footer-social -->
            </div>
            <!-- /.footer-nav-social -->
            <div class="footer-copyright">©2020 K i T</div>
            <!-- /.footer-copyright -->
        </div>
        <!-- /.footer-content -->
    </div>
    <!-- /.container -->
</footer>
<!-- /.footer -->
</body>
</html>