<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Интернет магазин</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="logo" onclick="location.href='index.html'"><img src="../assets/img/logom.png" alt="" class="img-logo"></div>
            <div class="icons-content">
                <a href="#" class="footer-social-a icon"><img src="../assets/img/user 4.png" alt="" class="img-icon"
                                                              style="filter: invert(100%);"></a>
                <!-- /.icon -->
                <div class="string">W O R K S H O P</div>
                <div class="icons-left">
                    <a href="favorites.html" class="footer-social-a icon"><img src="../assets/img/heart.png" alt="" class="img-icon"></a>
                    <!-- /.icon -->
                    <a href="basket.html" class="footer-social-a icon icon-buy"><img src="../assets/img/pay.png" alt="" class="img-icon"></a>
                    <!-- /.icon -->
                </div>
                <!-- /.icons-left -->
            </div>
            <!-- /.icons-content -->

        </div>
        <!-- /.header-content -->
    </div>
    <!-- /.container -->
</header>
<!-- /.header -->
<div class="navigation">
    <div class="container">
        <nav class="nav">
            <a href="../templates/section.html" class="a-nav">Браслеты</a><a href="../templates/section.html"
                                                                             class="a-nav">Подвески</a><a
                href="../templates/section.html" class="a-nav">Кулоны</a><a
                href="../templates/category.html" class="a-nav">Тематические значки</a>
        </nav>
        <!-- /.nav -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navigation -->
<div class="about">
    <div class="container">
        <div class="about-content">
            <div class="about-title ">Условия</div>
            <!-- /.about-title -->
            <div class="conditions-border"></div>
            <div class="about-text conditions-text">

                <div class="questions">---------------------------— ОБЩИЕ ВОПРОСЫ —-------------------------—</div> <br>
              <p>  [Q]: Сколько стоит доставка?<br>
                [A]: Доставка значков, браслетов и кулонов всего 50р., а заказы от 600р. включительно отправляются за наш счёт.
                  <br><br>
                [Q]: Что за доставка?<br>
                [A]: Вся розница отправляется только Почтой России заказными письмами в конвертах с трек-номерами для отслеживания.
                  <br><br>
                [Q]: Есть ли доставка за пределы РФ?<br>
                [A]: Да, есть — в среднем это 300-500р., зависит от того, где вам повезло жить.
                  <br><br>
                [Q]: Сколько делается заказ?<br>
                [A]: У нас нет такого понятия. Зато есть дни отправки — это Вт и Пт. И это от вас зависит, на какой день отправки вы попадёте. К примеру, браслет, заказанный в четверг вечером, в пятницу уже будет отправлен. Трек-номера мы рассылаем по Ср и Сб.
                  <br><br>
                [Q]: Сколько по времени занимает доставка в город N?<br>
                [A]: В среднем по стране заказы идут 5-20 дней в зависимости от расторопности почты. Хотя страна у нас большая, на самом деле всё не так печально — к примеру до Москвы идёт 5-7 дней)
                  <br><br>
                [Q]: Я забыл получить свой заказ!<br>
                [A]: Срок хранения отправлений в почтовом отделении — один месяц, по истечении этого срока ваш заказ по идее будет отправлен обратно к нам.
                  <br><br>
                [Q]: Как оплатить?<br>
                [A]: Можно сделать перевод на сберкарту, тинькофф и киви. Для гурманов — яндекс и paypal. При оформлении заказа мы пришлём все реквизиты. Важно после оплаты прислать скрин/фото или квитанцию платежа - иначе ваш заказ так и останется во "входящих" и не будет обработан.
                  <br><br>
                [Q]: Я оформил заказ через Товары и... тишина.<br>
                [A]: После оформления заказа у вас должен всплыть запрос на разрешение отправить вам сообщение. Если вы "нечаянно" его отклонили — то вам не придут автоматически все реквизиты для оплаты. То есть фактически мы от группы не можем вам ничего отправить и написать. Отсюда и тишина. Пишите vk.me/moypattern — разберёмся!
                  <br><br>
                [Q]: Можно оплатить по факту?<br>
                [A]: Нет)) Мы работаем по предоплате. Наложенный платёж тоже исключён.
                  <br><br>
                [Q]: Что делать, если мой заказ так и не пришёл?<br>
                [A]: Напишите нам — всё решим)<br><br>


                [Q]: Мне не понравились то, что я заказал. Деньги вернёте?<br>
                [A]: Такого ещё не было), но на всякий случай — если заказ вернётся к нам назад в родной упаковке и без следов использования — мы вернём деньги в полном объеме. Браслеты с гравировкой и значки на заказ возврату не подлежат.

              </p>
                    </div>
            <!-- /.about-text -->

            <div class="about-text description">
                <br>
                <div class="questions"> ---------------------------— ВОПРОСЫ ПО ЗНАЧКАМ —-------------------------—</div> <br>
                [Q]: Сколько стоят значки? <br>
                [A]: Это конечно "нигде" не написано😊 Все значки в товарах стоят 200р.
                <br> <br>
                [Q]: Сколько стоят значки на заказ? <br>
                [A]: Значки на заказ стоят 400р. Но копии будут уже как обычно по 200р. То есть первый 400р, а второй, третий и так далее по 200р.
                <br> <br>
                [Q]: Какого размера значки? <br>
                [A]: В среднем все значки размером с пятирублёвую монету. Плюс минус.
                <br> <br>
                [Q]: Из чего сделаны значки? <br>
                [A]: Значки делаются на основе берёзовой фанеры 3мм. Проще говоря — из дерева.
                <br> <br>
                [Q]: Они раскрашены вручную? <br>
                [A]: Нет, значки делаются с помощью комбинированного процесса печати.
                <br> <br>
                [Q]: Значки не развалятся? <br>
                [A]: Если задаться целью — сломать можно всё.
                <br> <br>
                [Q]: Мой значок поцарапался, что делать? <br>
                [A]: Давайте на чистоту, значок сам не поцарапался — его поцарапали вы. Носите значки аккуратно и с удовольствием и всё будет хорошо.
                <br> <br>
                [Q]: Можно мочить? <br>
                [A]: Мы тестировали значки в стиральной машинке, 30 минут 30 градусов. Всё ок. Но это не значит, что их можно и нужно стирать) Попали под дождь — не беда, но не стоит злоупотреблять.
                <br> <br>
                [Q]: Крепление надёжное? <br>
                [A]: Булавка привинчена к значку на шурупы, никакого клея. Это надёжно. Но если пытаться сорвать значок с одежды — либо порвёте одежду, либо оторвёте несущую иглу в креплении. Так что без экстремизма)
                <br> <br>
                [Q]: Что за деревяшка сзади на булавке? <br>
                [A]: Это защита булавки в условиях суровой доставки Почтой России.
                <br> <br>
                [Q]: Что можно гравировать?<br>
                [A]: Об этом можно почитать в <a href="article-znacok.html" style="color: orange; text-decoration: none">статье </a>
                <br><br>
                [Q]: Почему мой значок не такого цвета, как на картинке? <br>
                [A]: Посмотрите на мониторы, стоящие в ряд на полке магазина - они все показывают одну и ту же картинку, но разную по цвету. Ваш монитор или экран телефона не исключение. Поэтому "попасть" или угадать цвет практически невозможно. Но факт, что по техническим причинам цвет значков может гулять раз от раза. Увы(
            </div>
            <!-- /.about-text -->
            <div class="about-text description">
                <br>
                <div class="questions">---------------------------— ВОПРОСЫ ПО БРАСЛЕТАМ —-------------------------—</div> <br>

                [Q]: Сколько стоят браслеты?<br>
                [A]: Браслеты с металлической пластиной стоят 900р., с акриловой - 800р.
                <br><br>
                [Q]: Сколько стоят браслеты на заказ?<br>
                [A]: Ровно столько же, сколько и те, что выгружены в товары. Для нас нет разницы, что гравировать — ваш или наш эскиз. У нас нет склада готовой продукции - каждый браслет делается фактически на заказ. Поэтому все браслеты стоят одинаково.
                <br><br>
                [Q]: Можно ли гравировать с обратной стороны?<br>
                [A]: Гравировка с обратной стороны возможна только на металлическом браслете и добавляет к стоимости 100р.
                <br><br>
                [Q]: Что это за гравировка<br>
                [A]: Лазерная. Только процесс протекает по разному для металлической и акриловой пластин. На металле возможна только черная гравировка. Она делается на поверхности. На акриловой пластине гравировка может быть цветной (в один цвет) - краска втирается в отгравированную пластину акрила.
                <br><br>
                [Q]: Гравировка не сотрётся, не смоется.<br>
                [A]: Если коротко, то нет. Если остроумно — то скорее ваша рука сотрётся и смоется, чем гравировка на браслете)
                <br><br>
                [Q]: Из чего делается ремешок браслетов? Какого размера?<br>
                [A]: Мы используем на всех браслетах вощёный полиэстеровый шнурок. На выбор 12 цветов. Все браслеты делаются под обхват запястья, которое важно хорошо измерить. Если не знаете точно, то можно сделать по таблице исходя из пола, возраста и телосложения. Можно заказать регулируемый по длине шнурок — это прибавит к стоимости 100р. Можно заказать дополнительный комплект шнурков другого цвета — это так же прибавит 100р.
                <br><br>
                [Q]: Какое крепление у браслетов.<br>
                [A]: Мы используем магнитную гильзу с предохранителем. На регулируемых по длине браслетах крепление отсутствует.
                <br><br>
                [Q]: Что можно гравировать?<br>
                [A]: Об этом можно почитать в <a href="article-brace.html" style="color: orange; text-decoration: none">статье </a>
                <br><br>
                [Q]: Крепление надёжное?<br>
                [A]: Практика показала, что магнитная гильза с предохранителем - это достаточно надёжное крепление. Но это никому не мешает раз от раза терять браслеты. Причина не в креплении, а в том, что в принципе по статистике браслеты относятся к категории наиболее часто теряемых аксессуаров. Увы(
                <br><br>
                [Q]: Браслет можно мочить, царапать?<br>
                [A]: Вода не страшна. А царапается всё — даже металл. В основе металлического браслета пластина из нержавеющей зеркально отполированной стали. Но даже её со временем можно здорово "подзатаскать". С акриловым браслетом та же история.
                НравитсяПоказать список оценивших
            </div>
            <!-- /.about-text -->
        </div>
        <!-- /.about-content -->
    </div>
    <!-- /.container -->
</div>
<!-- /.about -->
<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-nav-social">
                <nav class="footer-nav">
                    <a href="about.html" class="footer-nav-a">О Нас</a><a href="conditions.html" class="footer-nav-a">Условия</a> <img
                        class="img-icon footer-icon" src="../assets/img/location.png"> <span class="footer-span">  <a
                        href="https://goo.gl/maps/KjJ5rq3xZMPFNN588"
                        class="map-a">Бульвар Энтузиастов, 2А, Тамбов</a></span>
                </nav>
                <!-- /.footer-nav -->
                <div class="footer-social">
                    <a href="https://vk.com/moypattern" class="footer-social-a"><img src="../assets/img/вконтакте.png" alt=""
                                                                                     class="footer-social-img"></a>
                    <a href="https://www.instagram.com/moypattern/?hl=ru" class="footer-social-a"><img
                            src="../assets/img/инстаграм.png" alt="" class="footer-social-img"></a>
                </div>
                <!-- /.footer-social -->
            </div>
            <!-- /.footer-nav-social -->
            <div class="footer-copyright">©2020 K i T</div>
            <!-- /.footer-copyright -->
        </div>
        <!-- /.footer-content -->
    </div>
    <!-- /.container -->
</footer>
<!-- /.footer -->
</body>
</html>