<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Интернет магазин</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="logo" onclick="location.href='../index.html'"><img src="../img/logom.png" alt="" class="img-logo"></div>
            <div class="icons-content">
                <a href="#" class="footer-social-a icon"><img src="../img/user 4.png" alt="" class="img-icon"
                                                              style="filter: invert(100%);"></a>
                <!-- /.icon -->
                <div class="icons-left">
                    <a href="favorites.html" class="footer-social-a icon"><img src="../img/heart.png" alt="" class="img-icon"></a>
                    <!-- /.icon -->
                    <a href="basket.html" class="footer-social-a icon icon-buy"><img src="../img/pay.png" alt="" class="img-icon"></a>
                    <!-- /.icon -->
                </div>
                <!-- /.icons-left -->
            </div>
            <!-- /.icons-content -->

        </div>
        <!-- /.header-content -->
    </div>
    <!-- /.container -->
</header>
<!-- /.header -->
<div class="navigation">
    <div class="container">
        <nav class="nav">
            <a href="good.html" class="a-nav">Браслеты</a><a href="good.html" class="a-nav">Подвески</a><a href="good.html" class="a-nav">Кулоны</a><a
                href="category.html" class="a-nav">Тематические значки</a>
        </nav>
        <!-- /.nav -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navigation -->

<div class="basket">
    <div class="container">
        <div class="basket-content">
            <div class="basket-title">Список желаний</div>
            <!-- /.basket-title -->
            <div class="basket-goods">
                <div class="basket-goods-x">
                    <div class="basket-goods-button-close">
                        <button class="basket-goods-button-close-butt"><img src="../img/close.png" alt=""
                                                                            class="basket-goods-button-img"></button>
                        <!-- /.button-goods-button-close-butt -->
                    </div>
                    <!-- /.basket-goods-button-close -->
                    <div class="basket-goods-x-photo-count">
                        <div class="basket-goods-x-photo-block">
                            <img src="../img/chiken2.png" alt="" class="basket-goods-x-photo-img">

                        </div>
                        <!-- /.basket-goods-x-photo-block -->
                        <div class="basket-goods-x-count-block">
                            <button class="basket-goods-x-count-button">+</button>
                            <!-- /.basket-goods-x-count-button -->
                        </div>
                        <!-- /.basket-goods-x-count-block -->
                    </div>
                    <!-- /.basket-goods-x-photo-count -->
                    <div class="basket-goods-x-description">
                        <div class="basket-goods-x-description-name">Товар</div>
                        <!-- /.basket-goods-x-description-name -->
                        <div class="basket-goods-x-price-block">
                            <div class="basket-goods-x-price-one">
                                <div class="basket-goods-x-price-one-text">Цена за один товар:</div>
                                <!-- /.basket-goods-x-price-one-text -->
                                <div class="basket-goods-x-price-one-price">200р.</div>
                                <!-- /.basket-goods-x-price-one-price -->
                            </div>
                            <!-- /.basket-goods-x-price-one -->

                        </div>
                        <!-- /.basket-goods-x-price-block -->
                    </div>
                    <!-- /.basket-goods-x-description -->
                </div>
                <!-- /.basket-goods-x -->
                <div class="basket-goods-x">
                    <div class="basket-goods-button-close">
                        <button class="basket-goods-button-close-butt"><img src="../img/close.png" alt=""
                                                                            class="basket-goods-button-img"></button>
                        <!-- /.button-goods-button-close-butt -->
                    </div>
                    <!-- /.basket-goods-button-close -->
                    <div class="basket-goods-x-photo-count">
                        <div class="basket-goods-x-photo-block">
                            <img src="../img/rabbit2.png" alt="" class="basket-goods-x-photo-img">

                        </div>
                        <!-- /.basket-goods-x-photo-block -->
                        <div class="basket-goods-x-count-block">
                            <button class="basket-goods-x-count-button">+</button>
                            <!-- /.basket-goods-x-count-button -->
                        </div>
                        <!-- /.basket-goods-x-count-block -->
                    </div>
                    <!-- /.basket-goods-x-photo-count -->
                    <div class="basket-goods-x-description">
                        <div class="basket-goods-x-description-name">Товар</div>
                        <!-- /.basket-goods-x-description-name -->
                        <div class="basket-goods-x-price-block">
                            <div class="basket-goods-x-price-one">
                                <div class="basket-goods-x-price-one-text">Цена за один товар:</div>
                                <!-- /.basket-goods-x-price-one-text -->
                                <div class="basket-goods-x-price-one-price">200р.</div>
                                <!-- /.basket-goods-x-price-one-price -->
                            </div>
                            <!-- /.basket-goods-x-price-one -->
                        </div>
                        <!-- /.basket-goods-x-price-block -->
                    </div>
                    <!-- /.basket-goods-x-description -->
                </div>
                <!-- /.basket-goods-x -->
            </div>
            <!-- /.basket-goods -->
                <div class="basket-total-button-block favorites-button-to_korzine">
                    <button class="basket-total-button">Перейти в корзину</button>
                    <!-- /.basket-total-button -->
                </div>
                <!-- /.basket-total-button-block -->
        </div>
        <!-- /.basket-content -->
    </div>
    <!-- /.container -->
</div>
<!-- /.basket -->

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-nav-social">
                <nav class="footer-nav">
                    <a href="about.html" class="footer-nav-a">О Нас</a><a href="conditions.html" class="footer-nav-a">Условия</a> <img
                        class="img-icon footer-icon" src="../img/location.png"> <span class="footer-span">  <a
                        href="https://goo.gl/maps/KjJ5rq3xZMPFNN588"
                        class="map-a">Бульвар Энтузиастов, 2А, Тамбов</a></span>
                </nav>
                <!-- /.footer-nav -->
                <div class="footer-social">
                    <a href="https://vk.com/moypattern" class="footer-social-a"><img src="../img/вконтакте.png" alt=""
                                                                                     class="footer-social-img"></a>
                    <a href="https://www.instagram.com/moypattern/?hl=ru" class="footer-social-a"><img
                            src="../img/инстаграм.png" alt="" class="footer-social-img"></a>
                </div>
                <!-- /.footer-social -->
            </div>
            <!-- /.footer-nav-social -->
            <div class="footer-copyright">©2020 K i T</div>
            <!-- /.footer-copyright -->
        </div>
        <!-- /.footer-content -->
    </div>
    <!-- /.container -->
</footer>
<!-- /.footer -->
</body>
</html>