<div class="basket">
    <div class="container">
        <div class="basket-content">
            <div class="basket-title">Список желаний</div>
            <!-- /.basket-title -->
            <div class="basket-goods">
                <div class="basket-goods-x">
                    <div class="basket-goods-button-close">
                        <button class="basket-goods-button-close-butt"><img src="../assets/img/close.png" alt=""
                                                                            class="basket-goods-button-img"></button>
                        <!-- /.button-goods-button-close-butt -->
                    </div>
                    <!-- /.basket-goods-button-close -->
                    <div class="basket-goods-x-photo-count">
                        <div class="basket-goods-x-photo-block">
                            <img src="../assets/img/chiken2.png" alt="" class="basket-goods-x-photo-img">

                        </div>
                        <!-- /.basket-goods-x-photo-block -->
                        <div class="basket-goods-x-count-block">
                            <button class="basket-goods-x-count-button">+</button>
                            <!-- /.basket-goods-x-count-button -->
                        </div>
                        <!-- /.basket-goods-x-count-block -->
                    </div>
                    <!-- /.basket-goods-x-photo-count -->
                    <div class="basket-goods-x-description">
                        <div class="basket-goods-x-description-name">Товар</div>
                        <!-- /.basket-goods-x-description-name -->
                        <div class="basket-goods-x-price-block">
                            <div class="basket-goods-x-price-one">
                                <div class="basket-goods-x-price-one-text">Цена за один товар:</div>
                                <!-- /.basket-goods-x-price-one-text -->
                                <div class="basket-goods-x-price-one-price">200р.</div>
                                <!-- /.basket-goods-x-price-one-price -->
                            </div>
                            <!-- /.basket-goods-x-price-one -->

                        </div>
                        <!-- /.basket-goods-x-price-block -->
                    </div>
                    <!-- /.basket-goods-x-description -->
                </div>
                <!-- /.basket-goods-x -->
                <div class="basket-goods-x">
                    <div class="basket-goods-button-close">
                        <button class="basket-goods-button-close-butt"><img src="../assets/img/close.png" alt=""
                                                                            class="basket-goods-button-img"></button>
                        <!-- /.button-goods-button-close-butt -->
                    </div>
                    <!-- /.basket-goods-button-close -->
                    <div class="basket-goods-x-photo-count">
                        <div class="basket-goods-x-photo-block">
                            <img src="../assets/img/rabbit2.png" alt="" class="basket-goods-x-photo-img">

                        </div>
                        <!-- /.basket-goods-x-photo-block -->
                        <div class="basket-goods-x-count-block">
                            <button class="basket-goods-x-count-button">+</button>
                            <!-- /.basket-goods-x-count-button -->
                        </div>
                        <!-- /.basket-goods-x-count-block -->
                    </div>
                    <!-- /.basket-goods-x-photo-count -->
                    <div class="basket-goods-x-description">
                        <div class="basket-goods-x-description-name">Товар</div>
                        <!-- /.basket-goods-x-description-name -->
                        <div class="basket-goods-x-price-block">
                            <div class="basket-goods-x-price-one">
                                <div class="basket-goods-x-price-one-text">Цена за один товар:</div>
                                <!-- /.basket-goods-x-price-one-text -->
                                <div class="basket-goods-x-price-one-price">200р.</div>
                                <!-- /.basket-goods-x-price-one-price -->
                            </div>
                            <!-- /.basket-goods-x-price-one -->
                        </div>
                        <!-- /.basket-goods-x-price-block -->
                    </div>
                    <!-- /.basket-goods-x-description -->
                </div>
                <!-- /.basket-goods-x -->
            </div>
            <!-- /.basket-goods -->
            <div class="basket-total-button-block favorites-button-to_korzine">
                <button class="basket-total-button">Перейти в корзину</button>
                <!-- /.basket-total-button -->
            </div>
            <!-- /.basket-total-button-block -->
        </div>
        <!-- /.basket-content -->
    </div>
    <!-- /.container -->
</div>
<!-- /.basket -->