
<div class="main-good">
    <div class="container">
        <div class="main-good-content">
            <div class="main-good-photo-describe">
                <div class="main-good-photo-block">
                    <img src="" alt="#" class="main-good-photo-img">
                </div>
                <!-- /.main-good-photo-block -->
                <div class="main-good-all">
                    <div class="main-good-all-name"></div><!-- /.main-good-all-name -->
                    <div class="main-good-all-price">
                        <div class="main-good-all-price-div">Цена:</div>
                        <!-- /.main-good-all-price-div -->
                        <div class="main-good-all-price-cost"></div>
                        <!-- /.main-good-all-price-cost -->
                    </div>
                    <!-- /.main-good-all-price -->
                    <div class="main-good-all-buy_field">
                        <div class="main-good-all-counter">
                            <select name="#" id="#">
                                <option value="sadasd">1</option>
                                <option value="sadasd">2</option>
                                <option value="sadasd">3</option>
                                <option value="sadasd">4</option>
                                <option value="sadasd">5</option>
                                <option value="sadasd">6</option>
                                <option value="sadasd">7</option>
                                <option value="sadasd">8</option>
                                <option value="sadasd">9</option>
                                <option value="sadasd">10</option>
                            </select>

                        </div>
                        <!-- /.main-good-all-counter -->
                        <div class="main-good-all-buy_field-group">
                            <div class="main-good-all-buy_field-group-favorites">
                                <button class="main-good-all-buy_field-group-favorites-button"><img
                                        src="../assets/img/heart.png"
                                        alt=""
                                        class="main-good-all-buy_field-group-favorites-img">
                                </button>
                                <!-- /.main-good-all-buy_field-group-favorites-button -->
                            </div>
                            <!-- /.main-good-all-buy_field-group-favorites -->
                            <div class="main-good-all-buy_field-group-basket">
                                <button class="main-good-all-buy_field-group-basket-button">В корзину</button>
                                <!-- /.main-good-all-buy_field-group-basket-button -->
                            </div>
                            <!-- /.main-good-all-buy_field-group-basket -->
                        </div>
                        <!-- /.main-good-all-buy_field-group -->
                    </div>
                    <!-- /.main-good-all-buy_field -->
                    <div class="main-good-all-describe"></div>
                    <!-- /.main-good-all-describe -->
                </div>
                <!-- /.main-good-all -->
            </div>
            <!-- /.main-good-photo-describe -->
            <div class="main-good-features">
                Все подробности о товаре --> <a href="/conditions">ТЫК</a>
            </div>
            <!-- /.main-good-features -->
        </div>
        <!-- /.main-good-content -->
        <script>view_one();</script>

    </div>
    <!-- /.container -->
</div>
<!-- /.main-good -->