<div class="main">
    <div class="banner">
        <div class="container">
            <div class="banner-content">
                <!-- Оригинал банера -->
                <!--                <div class="banner-img"><img src="img/баннер3.jpg" class="img-ban">-->
                <!--                    <button class="button_banner button_banner-1" onclick="minusSlide()"><img src="img/стрелка.png" alt="" class="img-b">-->
                <!--                    </button>-->
                <!--                    <button class="button_banner button_banner-2" onclick="plusSlide()"><img src="img/стрелка2.png" alt="" class="img-b">-->
                <!--                    </button>-->
                <!--                </div>-->

                <div class="slider">
                    <div class="item" style="display: block">
                        <img src="img/баннер3.jpg" alt="Первый слайд">
                        <div class="slideText"></div>
                    </div>

                    <div class="item" style="display: none">
                        <img src="img/fox2.jpg" alt="Второй слайд">
                        <div class="slideText"></div>
                    </div>

                    <div class="item" style="display: none">
                        <img src="img/fox3.jpg" alt="Третий слайд">
                        <div class="slideText"></div>
                    </div>

                    <button class="button_banner button_banner-1" onclick="minusSlide()"><img src="img/стрелка.png"
                                                                                              alt="" class="img-b">
                    </button>
                    <button class="button_banner button_banner-2" onclick="plusSlide()"><img src="img/стрелка2.png"
                                                                                             alt="" class="img-b">
                    </button>
                </div>
            </div>
            <!-- /.banner-content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->


    <div class="goods">
        <div class="container">
            <div class="goods-content">
                <div class="goods-item-xs">

                    <div class="goods-item-x">
                        <div class="goods-item-x-content">
                            <div class="goods-item-x-img">
                                <img src="img/joker2.png" alt="" class="img-goods">
                                <!-- /.img-goods -->
                            </div>
                            <!-- /.goods-item-x-img -->
                            <div class="goods-x-describe">
                                <div class="goods-x-describe-title">Деревянный значок "Джокер"</div>
                                <!-- /.goods-x-describe-title -->
                                <div class="goods-x-describe-price">200.0 ₽</div>
                                <!-- /.goods-x-describe-price -->
                            </div>
                            <!-- /.goods-x-describe -->
                        </div>
                        <!-- /.goods-item-x-content -->

                    </div>
                    <!-- /.goods-item-x -->
                    <div class="goods-item-x">
                        <div class="goods-item-x-content">
                            <div class="goods-item-x-img">
                                <img src="img/chiken2.png" alt="" class="img-goods">
                                <!-- /.img-goods -->
                            </div>
                            <!-- /.goods-item-x-img -->
                            <div class="goods-x-describe">
                                <div class="goods-x-describe-title">Деревянный значок "Индейка"</div>
                                <!-- /.goods-x-describe-title -->
                                <div class="goods-x-describe-price">200.0 ₽</div>
                                <!-- /.goods-x-describe-price -->
                            </div>
                            <!-- /.goods-x-describe -->
                        </div>
                        <!-- /.goods-item-x-content -->

                    </div>
                    <!-- /.goods-item-x -->
                    <div class="goods-item-x">
                        <div class="goods-item-x-content">
                            <div class="goods-item-x-img">
                                <img src="img/rabbit2.png" alt="" class="img-goods">
                                <!-- /.img-goods -->
                            </div>
                            <!-- /.goods-item-x-img -->
                            <div class="goods-x-describe">
                                <div class="goods-x-describe-title">Деревянный значок "Зая"</div>
                                <!-- /.goods-x-describe-title -->
                                <div class="goods-x-describe-price">200.0 ₽</div>
                                <!-- /.goods-x-describe-price -->
                            </div>
                            <!-- /.goods-x-describe -->
                        </div>
                        <!-- /.goods-item-x-content -->

                    </div>
                    <!-- /.goods-item-x -->
                    <div class="goods-item-x">
                        <div class="goods-item-x-content">
                            <div class="goods-item-x-img">
                                <img src="img/nenene2.png" alt="" class="img-goods">
                                <!-- /.img-goods -->
                            </div>
                            <!-- /.goods-item-x-img -->
                            <div class="goods-x-describe">
                                <div class="goods-x-describe-title">Деревянный значок "Дрэйк"</div>
                                <!-- /.goods-x-describe-title -->
                                <div class="goods-x-describe-price">200.0 ₽</div>
                                <!-- /.goods-x-describe-price -->
                            </div>
                            <!-- /.goods-x-describe -->
                        </div>
                        <!-- /.goods-item-x-content -->

                    </div>
                    <!-- /.goods-item-x -->
                    <div class="goods-item-x">
                        <div class="goods-item-x-content">
                            <div class="goods-item-x-img">
                                <img src="img/brace2.png" alt="" class="img-goods">
                                <!-- /.img-goods -->
                            </div>
                            <!-- /.goods-item-x-img -->
                            <div class="goods-x-describe">
                                <div class="goods-x-describe-title">Браслет с гравировкой</div>
                                <!-- /.goods-x-describe-title -->
                                <div class="goods-x-describe-price">900.0 ₽</div>
                                <!-- /.goods-x-describe-price -->
                            </div>
                            <!-- /.goods-x-describe -->
                        </div>
                        <!-- /.goods-item-x-content -->

                    </div>
                    <!-- /.goods-item-x -->
                    <div class="goods-item-x">
                        <div class="goods-item-x-content">
                            <div class="goods-item-x-img">
                                <img src="img/green2.png" alt="" class="img-goods">
                                <!-- /.img-goods -->
                            </div>
                            <!-- /.goods-item-x-img -->
                            <div class="goods-x-describe">
                                <div class="goods-x-describe-title">Кулон "Древо жизни"</div>
                                <!-- /.goods-x-describe-title -->
                                <div class="goods-x-describe-price">600.0. ₽</div>
                                <!-- /.goods-x-describe-price -->
                            </div>
                            <!-- /.goods-x-describe -->
                        </div>
                        <!-- /.goods-item-x-content -->

                    </div>
                    <!-- /.goods-item-x -->
                </div>
                <!-- /.goods-item-xs -->
                <div class="goods-button-all">
                    <button class="goods-buttton-button"><img src="img/далее.png" alt="" class="goods-button-img" ">
                    </button>
                </div>
                <!-- /.goods-button-all -->
            </div>
            <!-- /.goods-content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.goods -->
</div>
<!-- /.main -->