<div class="main">
    <div class="banner">
        <div class="container">
            <div class="banner-content">

                <div class="banner-img"><img src="../assets/img/баннер3.jpg" class="img-ban">
                    <button class="button_banner button_banner-1"><img src="../assets/img/стрелка.png" alt=""
                                                                       class="img-b">
                    </button>
                    <button class="button_banner button_banner-2"><img src="../assets/img/стрелка2.png" alt=""
                                                                       class="img-b">
                    </button>
                </div>
            </div>
            <!-- /.banner-content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->

    <div class="goods">
        <div class="container">
            <div class="goods-content">
                <div class="goods-item-xs">

                    <div class="goods-item-x">
                        <div class="goods-item-x-content">
                            <div class="goods-item-x-img">
                                <img src="../assets/img/joker2.png" alt="" class="img-goods">
                                <!-- /.img-goods -->
                            </div>
                            <!-- /.goods-item-x-img -->
                            <div class="goods-x-describe">
                                <div class="goods-x-describe-title">Деревянный значок "Джокер"</div>
                                <!-- /.goods-x-describe-title -->
                                <div class="goods-x-describe-price">200.0 ₽</div>
                                <!-- /.goods-x-describe-price -->
                            </div>
                            <!-- /.goods-x-describe -->
                        </div>
                        <!-- /.goods-item-x-content -->

                    </div>
                    <!-- /.goods-item-x -->
                    <div class="goods-item-x">
                        <div class="goods-item-x-content">
                            <div class="goods-item-x-img">
                                <img src="../assets/img/chiken2.png" alt="" class="img-goods">
                                <!-- /.img-goods -->
                            </div>
                            <!-- /.goods-item-x-img -->
                            <div class="goods-x-describe">
                                <div class="goods-x-describe-title">Деревянный значок "Индейка"</div>
                                <!-- /.goods-x-describe-title -->
                                <div class="goods-x-describe-price">200.0 ₽</div>
                                <!-- /.goods-x-describe-price -->
                            </div>
                            <!-- /.goods-x-describe -->
                        </div>
                        <!-- /.goods-item-x-content -->

                    </div>
                    <!-- /.goods-item-x -->
                    <div class="goods-item-x">
                        <div class="goods-item-x-content">
                            <div class="goods-item-x-img">
                                <img src="../assets/img/rabbit2.png" alt="" class="img-goods">
                                <!-- /.img-goods -->
                            </div>
                            <!-- /.goods-item-x-img -->
                            <div class="goods-x-describe">
                                <div class="goods-x-describe-title">Деревянный значок "Зая"</div>
                                <!-- /.goods-x-describe-title -->
                                <div class="goods-x-describe-price">200.0 ₽</div>
                                <!-- /.goods-x-describe-price -->
                            </div>
                            <!-- /.goods-x-describe -->
                        </div>
                        <!-- /.goods-item-x-content -->

                    </div>
                    <!-- /.goods-item-x -->
                    <div class="goods-item-x">
                        <div class="goods-item-x-content">
                            <div class="goods-item-x-img">
                                <img src="../assets/img/nenene2.png" alt="" class="img-goods">
                                <!-- /.img-goods -->
                            </div>
                            <!-- /.goods-item-x-img -->
                            <div class="goods-x-describe">
                                <div class="goods-x-describe-title">Деревянный значок "Дрэйк"</div>
                                <!-- /.goods-x-describe-title -->
                                <div class="goods-x-describe-price">200.0 ₽</div>
                                <!-- /.goods-x-describe-price -->
                            </div>
                            <!-- /.goods-x-describe -->
                        </div>
                        <!-- /.goods-item-x-content -->

                    </div>
                    <!-- /.goods-item-x -->
                    <div class="goods-item-x">
                        <div class="goods-item-x-content">
                            <div class="goods-item-x-img">
                                <img src="../assets/img/brace2.png" alt="" class="img-goods">
                                <!-- /.img-goods -->
                            </div>
                            <!-- /.goods-item-x-img -->
                            <div class="goods-x-describe">
                                <div class="goods-x-describe-title">Браслет с гравировкой</div>
                                <!-- /.goods-x-describe-title -->
                                <div class="goods-x-describe-price">900.0 ₽</div>
                                <!-- /.goods-x-describe-price -->
                            </div>
                            <!-- /.goods-x-describe -->
                        </div>
                        <!-- /.goods-item-x-content -->

                    </div>
                    <!-- /.goods-item-x -->
                    <div class="goods-item-x">
                        <div class="goods-item-x-content">
                            <div class="goods-item-x-img">
                                <img src="../assets/img/green2.png" alt="" class="img-goods">
                                <!-- /.img-goods -->
                            </div>
                            <!-- /.goods-item-x-img -->
                            <div class="goods-x-describe">
                                <div class="goods-x-describe-title">Кулон "Древо жизни"</div>
                                <!-- /.goods-x-describe-title -->
                                <div class="goods-x-describe-price">600.0. ₽</div>
                                <!-- /.goods-x-describe-price -->
                            </div>
                            <!-- /.goods-x-describe -->
                        </div>
                        <!-- /.goods-item-x-content -->

                    </div>
                    <!-- /.goods-item-x -->
                </div>
                <!-- /.goods-item-xs -->
                <div class="goods-button-all">
                    <button class="goods-buttton-button"><img src="../assets/img/далее.png" alt=""
                                                              class="goods-button-img">
                    </button>
                </div>
                <!-- /.goods-button-all -->
            </div>
            <!-- /.goods-content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.goods -->
</div>
<!-- /.main -->