<div class="main">
    <div class="banner">
        <div class="container">
            <div class="banner-content">

                <div class="banner-img"><img src="../assets/img/баннер3.jpg" class="img-ban">
                    <button class="button_banner button_banner-1" ><img src="../assets/img/стрелка.png" alt=""
                                                                       class="img-b">
                    </button>
                    <button class="button_banner button_banner-2" ><img src="../assets/img/стрелка2.png" alt=""
                                                                       class="img-b">
                    </button>
                </div>

            </div>
            <!-- /.banner-content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->

    <div class="goods">
        <div class="container">
            <div class="goods-content">
                <div class="goods-item-xs">
                    <script>main_view();</script>
                </div>
                <!-- /.goods-item-xs -->
                <div class="goods-button-all">
                    <button class="goods-button-button" onclick="view_add()"><img src="../assets/img/далее.png" alt="" class="goods-button-img"></button>
                </div>
                <!-- /.goods-button-all -->
            </div>
            <!-- /.goods-content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.goods -->
</div>
<!-- /.main -->