<div class="main">
    <div class="banner">
        <div class="container">
            <div class="banner-content">
                <div class="banner-img"><img src="../assets/img/баннер3.jpg" class="img-ban">

                </div>
            </div>
            <!-- /.banner-content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->

    <div class="goods">
        <div class="container">
            <div class="goods-content">
                <div class="goods-item-xs">
                    <script>view_good_article();</script>
                </div>
                <!-- /.goods-item-xs -->
            </div>
            <!-- /.goods-content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.goods -->
</div>
<!-- /.main -->