<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Интернет магазин</title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="logo" onclick="location.href='../index.html'"><img alt="" class="img-logo"
                                                                           src="../img/logom.png"></div>
            <div class="icons-content">
                <a class="footer-social-a icon" href="#"><img alt="" class="img-icon" src="../img/user 4.png"
                                                              style="filter: invert(100%);"></a>
                <!-- /.icon -->
                <div class="icons-left">
                    <a class="footer-social-a icon" href="favorites.html"><img alt="" class="img-icon"
                                                                               src="../img/heart.png"></a>
                    <!-- /.icon -->
                    <a class="footer-social-a icon icon-buy" href="basket.html"><img alt="" class="img-icon"
                                                                                     src="../img/pay.png"></a>
                    <!-- /.icon -->
                </div>
                <!-- /.icons-left -->
            </div>
            <!-- /.icons-content -->

        </div>
        <!-- /.header-content -->
    </div>
    <!-- /.container -->
</header>
<!-- /.header -->
<div class="navigation">
    <div class="container">
        <nav class="nav">
            <a class="a-nav" href="../templates/section.html">Браслеты</a><a class="a-nav"
                                                                             href="../templates/section.html">Подвески</a><a
                class="a-nav" href="../templates/section.html">Кулоны</a><a
                class="a-nav" href="../templates/category.html">Тематические значки</a>
        </nav>
        <!-- /.nav -->
    </div>
    <!-- /.container -->
</div>
<!-- /.navigation -->

<div class="main">
    <div class="banner">
        <div class="container">
            <div class="banner-content">
                <div class="banner-img"><img class="img-ban" src="../img/баннер3.jpg">

                </div>
            </div>
            <!-- /.banner-content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.banner -->

    <div class="goods">
        <div class="container">
            <div class="goods-content">
                <div class="goods-item-xs">

                    <div class="goods-item-x">
                        <div class="goods-item-x-content">
                            <div class="goods-item-x-img">
                                <img alt="" class="img-goods" src="../img/joker2.png">
                                <!-- /.img-goods -->
                            </div>
                            <!-- /.goods-item-x-img -->
                            <div class="goods-x-describe">
                                <div class="goods-x-describe-title">Деревянный значок "Джокер"</div>
                                <!-- /.goods-x-describe-title -->
                                <div class="goods-x-describe-price">200.0 ₽</div>
                                <!-- /.goods-x-describe-price -->
                            </div>
                            <!-- /.goods-x-describe -->
                        </div>
                        <!-- /.goods-item-x-content -->

                    </div>
                    <!-- /.goods-item-x -->
                    <div class="goods-item-x">
                        <div class="goods-item-x-content">
                            <div class="goods-item-x-img">
                                <img alt="" class="img-goods" src="../img/chiken2.png">
                                <!-- /.img-goods -->
                            </div>
                            <!-- /.goods-item-x-img -->
                            <div class="goods-x-describe">
                                <div class="goods-x-describe-title">Деревянный значок "Индейка"</div>
                                <!-- /.goods-x-describe-title -->
                                <div class="goods-x-describe-price">200.0 ₽</div>
                                <!-- /.goods-x-describe-price -->
                            </div>
                            <!-- /.goods-x-describe -->
                        </div>
                        <!-- /.goods-item-x-content -->

                    </div>
                    <!-- /.goods-item-x -->
                    <div class="goods-item-x">
                        <div class="goods-item-x-content">
                            <div class="goods-item-x-img">
                                <img alt="" class="img-goods" src="../img/rabbit2.png">
                                <!-- /.img-goods -->
                            </div>
                            <!-- /.goods-item-x-img -->
                            <div class="goods-x-describe">
                                <div class="goods-x-describe-title">Деревянный значок "Зая"</div>
                                <!-- /.goods-x-describe-title -->
                                <div class="goods-x-describe-price">200.0 ₽</div>
                                <!-- /.goods-x-describe-price -->
                            </div>
                            <!-- /.goods-x-describe -->
                        </div>
                        <!-- /.goods-item-x-content -->

                    </div>
                    <!-- /.goods-item-x -->
                    <div class="goods-item-x">
                        <div class="goods-item-x-content">
                            <div class="goods-item-x-img">
                                <img alt="" class="img-goods" src="../img/nenene2.png">
                                <!-- /.img-goods -->
                            </div>
                            <!-- /.goods-item-x-img -->
                            <div class="goods-x-describe">
                                <div class="goods-x-describe-title">Деревянный значок "Дрэйк"</div>
                                <!-- /.goods-x-describe-title -->
                                <div class="goods-x-describe-price">200.0 ₽</div>
                                <!-- /.goods-x-describe-price -->
                            </div>
                            <!-- /.goods-x-describe -->
                        </div>
                        <!-- /.goods-item-x-content -->

                    </div>
                    <!-- /.goods-item-x -->
                    <div class="goods-item-x">
                        <div class="goods-item-x-content">
                            <div class="goods-item-x-img">
                                <img alt="" class="img-goods" src="../img/brace2.png">
                                <!-- /.img-goods -->
                            </div>
                            <!-- /.goods-item-x-img -->
                            <div class="goods-x-describe">
                                <div class="goods-x-describe-title">Браслет с гравировкой</div>
                                <!-- /.goods-x-describe-title -->
                                <div class="goods-x-describe-price">900.0 ₽</div>
                                <!-- /.goods-x-describe-price -->
                            </div>
                            <!-- /.goods-x-describe -->
                        </div>
                        <!-- /.goods-item-x-content -->

                    </div>
                    <!-- /.goods-item-x -->
                    <div class="goods-item-x">
                        <div class="goods-item-x-content">
                            <div class="goods-item-x-img">
                                <img alt="" class="img-goods" src="../img/green2.png">
                                <!-- /.img-goods -->
                            </div>
                            <!-- /.goods-item-x-img -->
                            <div class="goods-x-describe">
                                <div class="goods-x-describe-title">Кулон "Древо жизни"</div>
                                <!-- /.goods-x-describe-title -->
                                <div class="goods-x-describe-price">600.0. ₽</div>
                                <!-- /.goods-x-describe-price -->
                            </div>
                            <!-- /.goods-x-describe -->
                        </div>
                        <!-- /.goods-item-x-content -->

                    </div>
                    <!-- /.goods-item-x -->
                </div>
                <!-- /.goods-item-xs -->
                <div class="goods-button-all">
                    <button class="goods-buttton-button"><img alt="" class="goods-button-img" src="../img/далее.png">
                    </button>
                </div>
                <!-- /.goods-button-all -->
            </div>
            <!-- /.goods-content -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /.goods -->
</div>
<!-- /.main -->

<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-nav-social">
                <nav class="footer-nav">
                    <a class="footer-nav-a" href="about.html">О Нас</a><a class="footer-nav-a" href="conditions.html">Условия</a>
                    <img class="img-icon footer-icon" src="../img/location.png"> <span class="footer-span">  <a
                        class="map-a"
                        href="https://goo.gl/maps/KjJ5rq3xZMPFNN588">Бульвар Энтузиастов, 2А, Тамбов</a></span>
                </nav>
                <!-- /.footer-nav -->
                <div class="footer-social">
                    <a class="footer-social-a" href="https://vk.com/moypattern"><img alt="" class="footer-social-img"
                                                                                     src="../img/вконтакте.png"></a>
                    <a class="footer-social-a" href="https://www.instagram.com/moypattern/?hl=ru"><img
                            alt="" class="footer-social-img" src="../img/инстаграм.png"></a>
                </div>
                <!-- /.footer-social -->
            </div>
            <!-- /.footer-nav-social -->
            <div class="footer-copyright">©2020 K i T</div>
            <!-- /.footer-copyright -->
        </div>
        <!-- /.footer-content -->
    </div>
    <!-- /.container -->
</footer>
<!-- /.footer -->
</body>
</html>