<div class="sign-reg">
    <div class="container">
        <div class="sign-reg-content">
            <div class="form-wrap">
                <form action="" method="post" class="sign-reg-form">
                    <dl class="sing-reg-dl">
                        <dt><div class="sign-reg-desription">Введите логин</div></dt>
                        <dd><div ><input type="text" name="login" placeholder="Введите логин" class="sign-reg-field"></div></dd>
                    </dl>
                    <dl class="sing-reg-dl">
                        <dt><div class="sign-reg-desription">Введите пароль</div></dt>
                        <dd><div ><input type="password" name="password" placeholder="Введите пароль" class="sign-reg-field"></div></dd>
                    </dl>
                    <input type="button" value="Войти" class="sign-reg-button" onclick="sign_in(this.form)">
                </form>
            </div>
            <!-- /.form-wrap -->
            <div class="error-output"></div>
            <!-- /.error-output -->
            <div class="green-output"></div>
            <!-- /.error-output -->
        </div>
        <!-- /.sign-in-content -->
    </div>
    <!-- /.container -->
</div>
<!-- /.sign-in -->