<div class="user-main">
    <div class="container">
        <div class="user-content">
            <div class="user-content-hello" id="login">
                <div class="user-content-hello-shablon">Здравствуйте </div>
                <!-- /.user-content-hello-shablon -->
                <div class="user-content-info-row-some" ></div>
                <!-- /.user-content-hello-nick -->
            </div>
            <!-- /.user-content-hello -->
            <div class="user-content-info-wrap">
                <div class="user-content-info">
                    <div class="user-content-info-title">Личные данные</div>
                    <!-- /.user-content-info-title -->
                    <div class="user-content-info-row dop-mb" id="email">
                        <div class="user-content-info-row-shablon">Почта:</div>
                        <!-- /.user-content-info-row-shablon -->
                        <div class="user-content-info-row-some"></div>
                        <!-- /.user-content-info-row-some -->
                    </div>
                    <!-- /.user-content-info-row -->
                    <div class="user-content-info-row" id="surname">
                        <div class="user-content-info-row-shablon">Фамилия:</div>
                        <!-- /.user-content-info-row-shablon -->
                        <div class="user-content-info-row-some"></div>
                        <!-- /.user-content-info-row-some -->
                    </div>
                    <!-- /.user-content-info-row -->
                    <div class="user-content-info-row dop-mb" id="name">
                        <div class="user-content-info-row-shablon">Имя:</div>
                        <!-- /.user-content-info-row-shablon -->
                        <div class="user-content-info-row-some"></div>
                        <!-- /.user-content-info-row-some -->
                    </div>
                    <!-- /.user-content-info-row -->
                    <div class="user-content-info-row" id="city">
                        <div class="user-content-info-row-shablon">Город:</div>
                        <!-- /.user-content-info-row-shablon -->
                        <div class="user-content-info-row-some"></div>
                        <!-- /.user-content-info-row-some -->
                    </div>
                    <!-- /.user-content-info-row -->
                    <div class="user-content-info-row" id="street">
                        <div class="user-content-info-row-shablon">Улица:</div>
                        <!-- /.user-content-info-row-shablon -->
                        <div class="user-content-info-row-some"></div>
                        <!-- /.user-content-info-row-some -->
                    </div>
                    <!-- /.user-content-info-row -->
                    <div class="user-content-info-row" id="house">
                        <div class="user-content-info-row-shablon">Дом:</div>
                        <!-- /.user-content-info-row-shablon -->
                        <div class="user-content-info-row-some"></div>
                        <!-- /.user-content-info-row-some -->
                    </div>
                    <!-- /.user-content-info-row -->
                    <div class="user-content-info-row dop-mb" id="index_adress">
                        <div class="user-content-info-row-shablon">Индекс:</div>
                        <!-- /.user-content-info-row-shablon -->
                        <div class="user-content-info-row-some"></div>
                        <!-- /.user-content-info-row-some -->
                    </div>
                    <!-- /.user-content-info-row -->
                </div>
                <!-- /.user-content-info -->
                <script>view_info();</script>
                <div class="user-content-orders">
                    <div class="user-content-orders-title">Заказы</div>
                    <div class="user-content-orders-all">
                        <script>view_orders();</script>
<!--                        <a href="#" class="user-content-order-x">-->
<!--                            <div class="user-content-order-x-wrap">-->
<!--                             -->
<!--                            </div>-->
<!--                            &lt;!&ndash; /.user-content-order-x-wrap &ndash;&gt;-->
<!--                        </a>-->
<!--                        &lt;!&ndash; /.user-content-order-x &ndash;&gt;-->
                    </div>
                    <!-- /.user-content-orders-all -->
                </div>
                <!-- /.user-content-orders -->
            </div>
            <!-- /.user-content-info-wrap -->
        </div>
        <!-- /.user-content -->
    </div>
    <!-- /.container -->
</div>
<!-- /.user -->